* {
    box-sizing: border-box;
}

body {
    font-family: 맑은고딕;
    font-weight:bold;
    margin: 0;
}

.header {
    padding: 63px;
    text-align: center;
    background: #1877f2;
    color: #f0f2f5;
    font-size: 21px;
    
}

.header h1 {
    font-size: 42px;
    
}  

.header a {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #42b72a;
    position: sticky;
    position: -webkit-sticky;
    top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    display: block;
    color: #1c1e21;
    text-align: center;
    padding: 15px 42px;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ea4335;
    color: #fbbc05;
}

.row {  
    float: none;
    display: flex;
    flex-wrap: wrap;
    padding: 21px
}


.side {
    width: 21%;
    flex: 21%;
    background-color: #f0f2f5;
    padding: 42px;
    padding-top: 84px;
}
  
.main {   
    flex: 58%;
    background-color: #f0f2f5;
    padding: 21px;
    padding-top:84px;
    

}

/* Fake image, just for this example */
.fakeimg {
background-color: #aaa;
width: 100%;
padding: 20px;
}

.footer {
    padding: 21px;
    text-align: center;
    background: #1877f2;
    
    
    
    
  

@media screen and (max-width: 700px) {
.row {   
    flex-direction: column;
}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}
