* {
    box-sizing: border-box;
    
}

.whitebox {
    padding: 30px;
    color: #999999;
    background-color: #FFFFFF;
}

.block {
    display: inline;
    float: left;
    width: 220px;
    margin: 0 30px 0 0;
    padding: 0;
}

.last {
    margin-right: 0;
}

.strong {
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    color: #4A4A4A;
    background-color: #FFF;
}

.p {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
    clear: both;
    line-height: 1.6em;
}

.spacer {
    clear: both;
    padding: 8px 0;
    line-height: normal;
}

.portfolio {
    display: block;
    position: relative;
    margin: 0 auto 1px;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.fl_left, .imgl {
    float: left;
}
.portfolio .fl_right {
    display: block;
    float: right;
    width: 500px;
}
.clear {
    clear: both;
}
.a-box {
    display: inline-block;
    width: 210px;
    text-align: center;
  }
  
.img-container {
      height: 230px;
      width: 210px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
.img-container img {
      height: 250px;
      margin: -30px 0px 0px -35px;
  }
  
.inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #e6e6e6;
      height: 250px;
      width: 180px;
  }
  
  .text-container {
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #e6e6e6;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }

body {
    font-family: 맑은고딕;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.header {
    padding: 63px;
    text-align: center;
    background: #1877f2;
    color: #f0f2f5;
    font-size: 21px;
    
}

.header h1 {
    font-size: 42px;
    
}  

.header a {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #42b72a;
    position: sticky;
    position: -webkit-sticky;
    top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    display: block;
    color: #1c1e21;
    text-align: center;
    padding: 15px 42px;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ea4335;
    color: #fbbc05;
}

.row {  
    float: none;
    display: flex;
    flex-wrap: wrap;
    padding: 21px
}


.side {
    width: 24%;
    flex: 21%;
    background-color: #f0f2f5;
    padding: 15px;
    padding-top: 84px;
}
  

.main {   
    flex: 58%;
    background-color: #f0f2f5;
    padding: 21px;
    padding-top:84px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    padding-bottom: 15px;
}

.card-img-top {
    width: 100%;
    border-radius: 10px;
}




.footer {
    padding: 21px;
    text-align: center;
    background: #1877f2;
}

.footer-container {
    display: table;
    width: 100%;
}
.footer_colum {
    display: table-cell;
    padding: 16px;
}

.footer_row {
    display: table-row;
}


.fakeimg {
    background-color: #f44336;
    width: 100%;
    padding: 21px;
    text-align: center;
    height :100px;
    border-radius: 10px;
}    

.fakeimg2 {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    text-align: center;
    height :100px;
    border-radius: 10px;
}

.fakeimg3 {
    background-color: #fbbc05;
    width: 100%;
    padding: 21px;
    height :200px;
    text-align: center;
}    

.cards {
    display: flex;
    flex-wrap: wrap;
    
}

.card0 {
    margin: 20px;
    padding: 20px;
    width: 350px;
    min-height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    
}

.card_text {
    font-weight: bold;
    color: #ffffff;
    padding: 8px 12px;
    width: 100%;
    
}  


.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
}

mark{
    background-color: lime;
    font-weight: bold;
}

.accent {
    background-color: rgba(255, 0, 0, 0.2);
}

input[type="button"] {
    background-color: #1877E2;
    color: #fff;
    -webkit-border-radius :5px;
    -moz-border-radius : 5px;
    border-radius: 5px;
    padding: 10px;
    border : none;
    transition: .2s;
}

input[type="button"]:hover {
    background-color: #166fe5;
    cursor: pointer;

}

.form {
    width:250px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    padding:15px 15px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relatives;
    
}

.form_h2 {
    margin:10px 0;
    padding-bottom:10px;
   
    width:180px;
    color:#78788c;
    border-bottom:
    3px solid #78788c
}
.form_input {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

.form_input:focus {
    border-bottom:2px 
    solid #78788c
}

.form p:before {
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}

button {
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

button:hover {
    background:#78788c;
    color:#fff
}

.box_1 {
    width: 183px;
    height: 183px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 42px;
    border-radius:5px;
    display: flex;
    float: left;
    position: static;
    align-items: center;

}

.box_group {
    display: relative;
}
