.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.container {
    padding: 16px;
  }
.signupbtn {
    float: left;
    width: 50%;
}

.button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}